<%- model_class = Contacte -%>
<div class="panel center col-sm-8 col-md-8 col-xs-8 col-lg-8 col-sm-offset-2 col-md-offset-2 col-xs-offset-2 col-lg-offset-2">
  <table class="table table-striped">
    <tbody>
      <% @contactes.each do |contacte| %>
        <tr>
          <td><%= contacte.title %></td>
          <td><%= contacte.content %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>