<%- model_class = Comment -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>
<table class="table table-striped">
  <tbody>
    <% @comments.each do |comment| %>
      <tr>
      <% if current_user.owner_of?(comment)%>
        <%= raw comment.content %>
      <% elsif current_user.comment.nil?
         %>
        <%= link_to t('.new', :default => t("helpers.links.new")),
            new_comment_path,
            :class => 'btn btn-primary' %>
      <% end %>
    <% end %>
  </tbody>
</table>


