<%- model_class = Comment -%>
<div class="panel center col-sm-8 col-md-8 col-xs-8 col-lg-8 col-sm-offset-2 col-md-offset-2 col-xs-offset-2 col-lg-offset-2">
<table class="table table-striped">
  <tbody>
    <% @comments.each do |comment| %>
      <tr>
      <% if current_user.owner_of?(comment)%>
        <%= raw comment.content %>
      <% elsif current_user.comment.nil?
         %>
        <%= link_to t('.new', :default => t("helpers.links.new")),
            new_comment_path,
            :class => 'btn btn-primary' %>
      <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
</div>

