<div class="panel center col-sm-8 col-md-8 col-xs-8 col-lg-8 col-sm-offset-2 col-md-offset-2 col-xs-offset-2 col-lg-offset-2">
<%- model_class = Comment -%>
<div class="page-header">
  <h1>Cerere noua</h1>
</div>
<%= render :partial => 'form' %>
</div>