<%- model_class = Utilite -%>
<div class="panel center col-sm-8 col-md-8 col-xs-8 col-lg-8 col-sm-offset-2 col-md-offset-2 col-xs-offset-2 col-lg-offset-2">
<div class="title alert alert-info">Informatii utile</div>
<table class="table table-striped">
  <tbody>
    <% @utilites.each do |utilite| %>
      <tr>
        <td><%= link_to utilite.titlu, utilite.avatar.url(utilite) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
