<div class="panel center col-sm-8 col-md-8 col-xs-8 col-lg-8 col-sm-offset-2 col-md-offset-2 col-xs-offset-2 col-lg-offset-2">
<%- model_class = Sigurance -%>
  <div class="sigur">
    <h4 class="alert alert-success">Cursul de perfecţionare “Instructor auto”</h4><br> 
    In volum de 76 ore este destinat pentru perfecţionarea profesională a instructorilor auto din sistemul de instruire a conducătorilor de autovehicule.
    În rezultatul absolvirii cursurilor cursanţii vor obţine următoarele competenţe:
    Însuşirea abilităţilor de utilizare a tehnicilor psihopedagogice în practică la pregătirea conducătorilor auto, cunoştinţelor teoretice şi deprinderilor practice la analiza construcţiei, aprecierea proprietăţilor tehnice şi de exploatare a autovehiculului.
    Cunoaşterea caracteristicilor psihice a personalităţii, funcţiile pedagogiei, principiile şi metodele didactice, principiile de organizare a circulaţiei rutiere.
    Cursurile se vor finaliza cu susţinerea testului de absolvire şi eliberarea certificatului Centrului Universitar de Formare Continuă al Universităţii Tehnice a Moldovei.
    <hr>
    <h4 class="alert alert-success">Cursul de perfecţionare “Profesor de legislaţie rutieră”</h4><br> 
    In volum de 144 ore este destinat pentru perfecţionarea profesională a cadrelor didactice din sistemul de instruire a conducătorilor de autovehicule.
    În rezultatul absolvirii cursurilor cursanţii vor obţine următoarele competenţe:
    Însuşirea abilităţilor de utilizare a tehnicilor psihopedagogice în practică la pregătirea conducătorilor auto, cunoştinţelor teoretice şi deprinderilor practice la analiza construcţiei, aprecierea proprietăţilor tehnice şi de exploatare a autovehiculului, cunoştinţelor teoretice şi deprinderilor practice la analiza regulamentului circulaţiei rutiere, bazelor comportamentului în conducerea autovehicolului şi siguranţa traficului rutier.
    Cunoaşterea caracteristicilor psihice a personalităţii, funcţiile pedagogiei, principiile şi metodele didactice, principiile de organizare a circulaţiei rutiere, criteriilor pentru aprecierea competenţei profesionale a conducătorilor auto.
    Cursurile se vor finaliza cu susţinerea testului de absolvire şi eliberarea certificatului Centrului Universitar de Formare Continuă al Universităţii Tehnice a Moldovei.
    <hr>
    <%= link_to t('Înscrietete'), new_sigurance_path, :class => 'btn btn-primary' %>
  </div>
</div>