<%- model_class = Legislation -%>
<div class="panel center col-sm-8 col-md-8 col-xs-8 col-lg-8 col-sm-offset-2 col-md-offset-2 col-xs-offset-2 col-lg-offset-2">
<div class="title alert alert-info">Articole informative</div>
<table class="table table-striped">
  <tbody>
    <% @legislations.each do |legislation| %>
      <tr>
        <td><%= link_to raw(legislation.titlu), legislation.avatar.url(legislation) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>