<%- model_class = About -%>
<div class="panel center col-sm-8 col-md-8 col-xs-8 col-lg-8 col-sm-offset-2 col-md-offset-2 col-xs-offset-2 col-lg-offset-2">
  <div class="alert alert-info">Descriere</div>
	<table class="table table-striped">
      <tbody>
        <% @abouts.each do |about| %>
      	  <tr>
            <td><%= raw about.content %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
</div>
