/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
.menu .btn-group {
	width: 100%;
}

.btn-group-justified .btn-group .dropdown-menu {
	width: 100%;
}

.btn-group-justified > .btn-group .btn {
	box-shadow: 5px 5px 10px 5px;
}

.a-btn{
	font-family: 'Droid Sans Mono' ;
    font-size: 17px;
    -webkit-border-radius:10px;
    -moz-border-radius:10px;
    border-radius:10px;
    padding:10px 30px 10px 70px;
    position:relative;
    overflow:hidden;
    margin:10px;
    background:#9cedef;
    background:-webkit-gradient(linear,left top,left bottom,color-stop(#b7f2f4,0),color-stop(#7ce7ea,1));
    background:-webkit-linear-gradient(top, #b7f2f4 0%, #7ce7ea 100%);
    background:-moz-linear-gradient(top, #b7f2f4 0%, #7ce7ea 100%);
    background:-o-linear-gradient(top, #b7f2f4 0%, #7ce7ea 100%);
    background:linear-gradient(top, #b7f2f4 0%, #7ce7ea 100%);
    filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#b7f2f4', endColorstr='#7ce7ea',GradientType=0 );
    border:1px solid #90c6c8;
    border-color:#90c6c8 #78bdc0 #65b6ba;
    -webkit-box-shadow:0px -5px 0px 0px #458a8c, 0 1px 1px #d5d5d5, inset 0 1px 0 rgba(255,255,255,0.8);
    -moz-box-shadow:0px -5px 0px 0px #458a8c, 0 1px 1px #d5d5d5, inset 0 1px 0 rgba(255,255,255,0.8);
    box-shadow:0px -5px 0px 0px #458a8c, 0 1px 1px #d5d5d5, inset 0 1px 0 rgba(255,255,255,0.8);
    -webkit-transition:all 0.2s linear;
    -moz-transition:all 0.2s linear;
    -o-transition:all 0.2s linear;
    transition:all 0.2s linear;
}
.a-btn-text{
    font-size:20px;
    color:#437b7d;
    text-shadow:0 1px 0 #bef3f5;
    line-height:16px;
    font-weight:bold;
    font-family:"Myriad Pro", "Trebuchet MS", sans-serif;
}
.a-btn-slide-text{
    font-family:Arial, sans-serif;
    font-size:17px;
    letter-spacing:1px;
    text-transform:uppercase;
    color:#555;
    text-shadow:0px 1px 1px rgba(255,255,255,0.9);
}
.a-btn:hover{
    -webkit-transform:scale(1.05);
    -moz-transform:scale(1.05);
    -ms-transform:scale(1.05);
    -o-transform:scale(1.05);
    transform:scale(1.05);
}
.a-btn:active{
    -webkit-transform:scale(0.95);
    -moz-transform:scale(0.95);
    -ms-transform:scale(0.95);
    -o-transform:scale(0.95);
    transform:scale(0.95);
    -webkit-box-shadow:0px 0px 0px 1px #458a8c, 0 1px 1px #d5d5d5, inset 0 1px 0 rgba(255,255,255,0.8), 0px 1px 1px 2px #fff;
    -moz-box-shadow:0px 0px 0px 1px #458a8c, 0 1px 1px #d5d5d5, inset 0 1px 0 rgba(255,255,255,0.8), 0px 1px 1px 2px #fff;
    box-shadow:0px 0px 0px 1px #458a8c, 0 1px 1px #d5d5d5, inset 0 1px 0 rgba(255,255,255,0.8), 0px 1px 1px 2px #fff;
}

.logos {
    width: 10%;
}

.cats {
    width: 100%;
}
.panel {
/*    margin-top: -37.5%; 
margin-left: 0%;*/
}

.initial {
    border: 1px solid gray;
    border-radius: 7px;
}
.fot {
    text-align: center;
    color: gray;
    height:50px;
    left:0px;
    right:0px;
    margin-bottom:0px;
}
.logo{
    background-color: #ffffff;
    z-index: 1;

}
.logo p {
    text-align: center;
    color: #000000;
}
.men {
    margin-top: -55px
}
.over {
  z-index: 10;    
  position: fixed;
  top: 5px;
  width: 30%;
  right: 20px;
  height: 10%;
  background: rgba(255,255,255,0.15);
  z-index: 1;
}
.map{
    overflow:hidden;
    height:280px;
    width:100%;
}
#gmap_canvas{
    height:280px;
    width:100%;
}
.cats {
    background-image: url('blue.jpg');
}
.right form {
    border: 2px solid #000000;
    border-radius: 6px;
}
.left img {
        border-radius: 5px;
}
.left {
    color: black;
    margin-top: 1%;
}
.right {
    margin-top: 1%;
}

.modal {
    color: black;
}

.modal-body {
    font-size: 18px;
    display: -webkit-inline-box;
}
.modal-dialog {
    width: 60%;
    background-color: white;
}
.user {
    background-color: white;
}

.row .col-xs-4 button h4 img {
    height: 116px;
    width: 100%;
}
.page{
    width: 40%;
}
.row .images img{
    height: 125px;
    margin-left: 5%;
}
a.hideDisplay{
    position: relative;
    z-index: 20;
    color: #000;
    text-decoration: none;
}

a.hideDisplay:hover{
    z-index: 30;
}
a.hideDisplay span.showDisplayOnHover{
    display: none;
}
a.hideDisplay:hover span.showDisplayOnHover{
    display: block;
    position: absolute;
    font-size: 18px;
    line-height: 25px;

}
span.showBodyOfDisplayOnHover {
    font-size: 16px;
    font-weight: normal;
    color: #444;
    line-height: 18px;
}
.row .hideDisplay .showDisplayOnHover .showBodyOfDisplayOnHover .imgprev img{
    width: 780px;
    height: 500px;
}

#menu .button-wrapper {
    display: inline-flex;
}
#menu .button-wrapper .btn-group .btn-group .dropup .dropdown-menu .drop{
        line-height: 1px;
        font-size: 17px
}
.title{
        font-size: 30px;
    text-align: center;
}
.dl-horizontal dd{
    margin-left: 70px
}
.dl-horizontal {
    color: #000000;
}